<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vertineko.shospital.dao.mapper.DepartmentMapper">


    <select id="selectDepartmentPage" parameterType="com.vertineko.shospital.dto.doctor.req.DepartmentPageDTO"
            resultType="com.vertineko.shospital.dto.doctor.res.DepartmentPageVO">
            select * from department
            <where>
                <if test="name != null and name != ''">
                    name like concat('%', #{name}, '%')
                </if>
            </where>
    </select>
</mapper>