<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vertineko.shospital.dao.mapper.MedicineMapper">

    <select id="getMedicinePage" parameterType="com.vertineko.shospital.dto.doctor.req.MedicinePageDTO"
            resultType="com.vertineko.shospital.dto.doctor.res.MedicinePageVO">
        select * from medicine
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="getMedicineList" resultType="com.vertineko.shospital.dto.doctor.res.MedicinesVO">
        select id as value, name as label from medicine
    </select>
</mapper>