<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.vertineko.shospital.dao.mapper.PatientMapper">
    <select id="getPage" parameterType="com.vertineko.shospital.dto.patient.req.PatientPageDTO"
            resultType="com.vertineko.shospital.dto.patient.res.PatientPageVO">
        select username, name, sex, age, tele
        from patient
        <where>
            <if test="username != null and username != '' ">
                AND username like concat('%', #{username}, '%')
            </if>

            <if test="name != null and name != '' " >
                AND name like concat('%', #{name}, '%')
            </if>

            <if test="sex != null and sex.name().equals('null')" >
                AND sex = #{sex}
            </if>

            <if test="minAge != null" >
                AND age &gt;= #{minAge}
            </if>

            <if test="maxAge != null" >
                AND age &lt;=  #{maxAge}
            </if>

            <if test="tele != null and tele != '' " >
                AND tele like concat('%', #{tele}, '%')
            </if>
        </where>
    </select>
</mapper>