<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.vertineko.shospital.dao.mapper.ReservationMapper">


    <select id="getReservationPage" parameterType="com.vertineko.shospital.dto.patient.req.ReservationPageDTO"
            resultType="com.vertineko.shospital.dto.patient.res.ReservationPageVO">
        select r.id, r.department, d.name, r.create_time, r.status
        from reservation r left join doctor d
        on r.doctor_id = d.id
        <where>
            <if test="patientId != null">
                and r.patient_id = #{patientId}
            </if>
            <if test="department != null and department != ''">
                and r.department like concat('%', #{department}, '%')
            </if>
            <if test="status != null">
                and r.status = #{status}
            </if>
        </where>
    </select>

    <select id="getCurrReservationPage" parameterType="com.vertineko.shospital.dto.doctor.req.DocCurrReservationPageDTO"
            resultType="com.vertineko.shospital.dto.doctor.res.DocReservationPageVO">
        select r.id, p.name as name, r.create_time
        from reservation r left join patient p
        on r.patient_id = p.id
        <where>

            <if test="patientName != null and patientName != ''">
                and p.name like concat('%',#{patientName},'%')
            </if>
            <if test="minCreateTime != null">
                and r.create_time &lt;= #{maxCreateTime}
            </if>
            <if test="minCreateTime != null">
                and r.create_time &gt;= #{minCreateTime}
            </if>
            <if test="true">
                and r.status = 0 and r.doctor_id = #{id}
            </if>
        </where>
    </select>
    <select id="getDocHisReservationPage" parameterType="com.vertineko.shospital.dto.doctor.req.DocReservationHisDTO"
            resultType="com.vertineko.shospital.dto.doctor.res.DocReservationHisVO">
        select r.id, p.name as name, r.create_time, r.status
        from reservation r left join patient p
        on r.patient_id = p.id
        <where>
            <if test="true">
                and r.doctor_id = #{id}
            </if>
            <if test="patientName != null and patientName != ''">
                and p.name like concat('%', #{patientName}, '%')
            </if>
            <if test="minCreateTime != null">
                and r.create_time &lt;= #{maxCreateTime}
            </if>
            <if test="minCreateTime != null">
                and r.create_time &gt;= #{minCreateTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>